<!-- <div class="card my-3 col-12 col-md-6 col-xl-4"> -->
<div class="card my-3 col-12 p-0 offset-md-3 col-md-6"></div>
    <div class="card-header">
      <img src="{{post.user.profile_image.url}}" alt="" width="30px" class='rounded-circle'>
      <a href="">{{post.user.username}}</a>
    </div>
    <img src="{{post.image.url}}" class="" alt="...">
    <div class="card-body">
      <p class="card-text">{{post.content}}</p>
      <p class="card-text">{{post.created_at|timesince}}</p>
      <a href="" class="btn btn-primary">Detail</a>
    </div>
</div>