{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
    <h1>{{post.content}}</h1>
    <img src="{{post.image.url}}" class="" alt="">
    <form action="{% url 'posts:comment_create' post.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit">
    </form>
    
    {% for comment in post.comment_set.all %}
        <li>{{comment.user}} - {{comment.content}}</li>
        {% if comment.user == user %}
            <a href="{% url 'posts:comment_delete' post.id comment.id %}">Delete</a>
        {% endif %}
    {% endfor %}
{% endblock %}