{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
    <div class="row my-3">
        <div class="col-3">
            <img src="{{user_profile.profile_image.url}}" class="img-fluid rounded-circle" alt="">
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-3">
                    {{user_profile.username}}
                </div>
                <div class="col-9">
                    follow
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for post in user_profile.post_set.all %}
            <div class="col-4">
                <img src="{{post.image.url}}" class="img-fluid" alt="">
            </div>
        {% endfor %}
    </div>
{% endblock %}