<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- 로고 및 홈으로 이동하는 링크 -->
    <a class="navbar-brand" href="{% url 'posts:index' %}">
      <i class="bi bi-instagram"></i>  <!-- Instagram 아이콘 -->
      INSTAGRAM
    </a>
    <!-- 모바일 화면에서 네비게이션 토글 버튼 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 네비게이션 메뉴 -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}  <!-- 사용자가 로그인된 경우 -->
          <li class="nav-item">
            <!-- 게시물 생성 페이지로 이동 -->
            <a class="nav-link" href="{% url 'posts:create' %}">Create</a>
          </li>
          <li class="nav-item">
            <!-- 로그아웃 처리 -->
            <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
          </li>
          <li class="nav-item">
            <!-- 피드 페이지로 이동 -->
            <a class="nav-link" href="{% url 'posts:feed' %}">Feed</a>
          </li>
          <li class="nav-item">
            <!-- 현재 로그인된 사용자 이름 표시 -->
            <a class="nav-link disabled">{{user}}</a>
          </li>
        {% else %}  <!-- 사용자가 로그인되지 않은 경우 -->
        <li class="nav-item">
          <!-- 회원가입 페이지로 이동 -->
          <a class="nav-link" href="{% url 'accounts:signup' %}">SignUp</a>
        </li>
        <li class="nav-item">
          <!-- 로그인 페이지로 이동 -->
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>